.image-filter{
    width: 500px;
    height: auto;
    margin: 80px 0;
}

figure{
    position: relative;
    overflow: hidden;
}
figure:hover > img{
    transition: all 0.3s ease-in-out;
}

figure:hover{
    cursor: pointer;
}

figcaption{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 48%;
    width: 100%;
    font-size: 1.1rem !important;
    transform: scale(0);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

figure:hover > figcaption{
    opacity: 1;
    transform: scale(1);
}

.fig-1:hover > img{
    filter: blur(2px);
}

.fig-2:hover > img{
    filter: grayscale(100%);
}

.fig-3:hover > img{
    filter: sepia(100%);
}

.goto{
    position: absolute;
    text-align: center;
    width: 30px;
    height: 30px;
    background-color: #1e2350;
    border-radius: 50%;
    top: 200px;
    right: 100px;
    transition: background 0.3s ease-in-out;
}
.goto:hover{
    background-color: #000;
}

.goto span{
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
}